<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>




<!--        <p style="background-color:#F0E68C;">===============List of cars============================ </p>-->
<!--        <tr th:each="newsToShow: ${news1}">-->


<!--            <td th:text="${news1.getResults()}"/>-->
<!--            </tr>-->

<!--            <td th:text="${newsToShow.getWebTitle()}"/>-->
<!--            </td>-->
<!--            <td th:text="${newsToShow.getWebUrl()}"/>-->
<!--            </td>-->


<!--    <tr>-->
<!--        <th>Section:</th>-->
<!--        <th>Title:</th>-->
<!--        <th>URL:</th>-->

<!--    </tr>-->
<!--    <p style="background-color:#F0E68C;">===============List of cars============================ </p>-->
<!--    <tr th:each="newsToShow: ${i}">-->
<!--        <td th:text="${newsToShow.getSectionName()}"/>-->
<!--        </td>-->

<!--        <td th:text="${newsToShow.getWebTitle()}"/>-->
<!--        </td>-->
<!--        <td th:text="${newsToShow.getWebUrl()}"/>-->
<!--        </td>-->

<!--    <form action="#" th:action="@{/start/{userInput} (userInput=${news})}" th:object="${news}" method="post">-->

<!--        <form action="#" th:action="@{/start}" th:object="${first}" method="post">-->
<!--            <p>Input city to get the weahter: <input type="text" th:field="*{input}" /></p>-->
<!--            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--    </form>-->


<!--    </form>-->

<!--    <br>-->
<!--</table>-->

<!--</table>-->


</body>
</html>
<!--    <form action="#" th:action="@{/start}" th:object="${news}" method="post">-->
<!--        <p>Input topic of news: <input type="text" th:field="*{input}" /></p>-->
<!--        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--    </form>-->

<!--    <form action="/action_page.php" method="get">-->
<!--        <label for="fname">First name:</label>-->
<!--        <form action="#" th:action="@{/start/{userInput} (userInput=${news})}" th:object="${news}" method="post">-->
<!--                <p>Input city to get the weahter: <input type="text" th:field="*{input}" /></p>-->
<!--                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--        </form>-->

<!--    <form action="#" th:action="@{/start}" th:object="${news}" method="post">-->
<!--        <p>Input topic of news: <input type="text" th:field="*{input}" /></p>-->
<!--        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
<!--    </form>-->



<!--<th>Section:</th>-->
<!--<th>Title:</th>-->
<!--<th>URL:</th>-->

<!--<tr th:each="news: ${news}">-->
<!--    <td th:text="${news.getSectionName() }"/>-->
<!--    </td>-->

<!--    <td th:text="${news.getWebTitle()}"/>-->
<!--    </td>-->
<!--    <td th:text="${news.getWebUrl()}"/>-->
<!--    </td>-->

<!--</tr>-->
<!--</tr>-->

<!--<p style="background-color:#F0E68C;">===============Delete Car============================ </p>-->
<!--<form th:action="@{/delete}"  method="post">-->

<!--    <p><input type="submit" value="Delete"></p>-->

<!--</form>-->

<!--<p style="background-color:#F0E68C;">===============Delete Car============================ </p>-->

<!--<h1>Input the topic to search in Guardian database</h1>-->

<!--<form action="#" th:action="@{/start/{userInput} (userInput=${news})}" th:object="${news}" method="post">-->

<!--    <form action="#" th:action="@{/start}" th:object="${news}" method="post">-->
<!--        <p>Input city to get the weahter: <input type="text" th:field="*{input}" /></p>-->
<!--        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->




<!--        <form action="#" th:action="@{/start/{input} (input=${input})}" th:object="${news}" method="post">-->
<!--            <p>Input city to get the weahter: <input type="text" th:field="*{status}" /></p>-->
<!--            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->


<!--<form th:action="@{/news}"  method="post">-->
<!--    <input type="text" th:value="${}" name="input"/>-->
<!--    <input type="submit" />-->
<!--</form>-->

<!--    <p>Input city to get the weahter: <input type="text" th:field="*{}" /></p>-->
<!--    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->

<!--</form>-->

<!--<p>Click the "Submit" button to seach the news-->
<!--</p>-->
