<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 16px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>


<p style="background-color:#F0E68C;">===============Welcom in Guardian News Database=========================== </p>
<p style="background-color:#F0E68C;">Input topic you are looking for: </p>
<form th:action="@{/add}" method="post" >
    <input type="text" th:name="input"/>

    <button type="submit">Search</button>
</form>


</form>
    <p style="background-color:#F0E68C;">===============Delete Results============================ </p>
    <form th:action="@{/delete}"  method="post">

        <p><input type="submit" value="Delete"></p>
<br>
    </form>

<p style="background-color:#F0E68C;">===============Result of Search============================ </p>
            <table>
                <tr>
                    <th>Section:</th>
                    <th>Title:</th>
                    <th>URL:</th>

                <tr th:each = "user: ${user}">
                <td th:text="${user.getSectionName()}"/></td>

                <td th:text="${user.getWebTitle()}"/></td>

                <td> <a th:href="${user.getWebUrl()}" th:text="${user.getWebUrl()}" target="_blank"/></td>


                </tr>
            </table>



                </tr>

                <br>
            </table>



</body>
</html>

